
/*universal selector*/
*{
   color:rgb(238, 130, 198); 
   font-family: "Times New Roman";
}
/*external css */
#pp { 
    color:palevioletred;
}
/*element selector*/

p {
     color:#051212;
}
/*id selector*/

#headingone{
    color:aqua;

}
#headingtwo{
    color:blue;
}
/*class selector*/
.heading
{

    color:rgb(255,0,0);
}

h2{
    color:#051212;
}

#box{
    background-color:rgb(56, 17, 42) ;
    color:#f060bd;
}

button{
    background-color: green;
}

/* text properties*/

#ss{
    text-transform: capitalize;
    text-align: center;
    text-decoration:black dotted underline;
    color: darkgreen;
}
#outer{
    font-size:25px ;

}

#inner{
      font-size:10px;
}

