div {
    height:120px;
    width:120px;
    background-color: aquamarine;
    border: 4px solid black;
    position:relative;
    top:200px;
    left:200px;
    animation-name: Animate;
    animation-duration: 5s; /*this means it will take 3 sec to change its color*/
   /* animation-timing-function: ease-in;  with this like wo usme chnage honga eg step raha to wo step ke format mai*/
    animation-delay: 0s; /* this means 0 sec ke baad start honga*/
    animation-iteration-count: 5;/* it means same process will repeat 5 time*/
    animation-direction:normal;
}
@keyframes Animate { 
    0% {left: 0px; background-color: aquamarine; color: black;}
    50% { background-color: blue;}
    100% { left: 500px; background-color: darkslategray; color:aliceblue; font-style: italic;}
    
}