
#navbar{
    background-color: rgb(255, 127, 232);
    display: flex;
    justify-content:space-evenly;

}

a{
    text-decoration: none;
    color: black;
}

li{

    display: inline-block;
    background-color:purple;
    
}
#outer{
    height:300px;
    width:300px;
    background-color:darkslategray;
    display: flex;
    justify-content: center;/*inner box row ke center mai aaenga */
    align-items:center; /*inner box column ke center mai aaenga */

}
#inner{
    height:150px;
    width:150px;
    background-color: darkgray;
    color: black;
    text-align: center;
    font-style:italic;
}